/*-- scss:defaults --*/
// $revealjs-block-margin: 0px !default;
$presentation-slide-text-align: center !default;

/*-- scss:rules --*/
// .reveal.smaller .slides h3,
// .reveal .slides section.smaller h3 {
//     margin-top: 0px;
//     /* font-size: 1.43em;  1.0 / 0.7 */
// }

// .reveal .slides>section,
// .reveal .slides>section>section {
//     padding: 0px 0px;
//     /* NB: min-height causes some images to disappear?!? */
//     /* min-height: 100%; */
// }
// .reveal .cell {
//     margin-top: 0px;
//     padding-top: 0px;
// }

/* Make sure code blocks are filled */
// .reveal pre code {
//     max-height: 100%;
// }
// .reveal section pre code {
//     max-height: 100%;
//     font-size: 1em;
// }
// .reveal footer {
//     font-size: 0.3em;
// }

.reveal pre code {
  background-color: #f5f5f5 !important;
  border-radius: 6px;
}

/* Set the maximum figure size to 100% of the slide */
img, video, iframe {
  max-width: 100%;
  max-height: 100%;
}

span.citation {
    font-size: 0.7em;
    float: right;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px;

}

.twocolgrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 0px;
    align-items: start;
    justify-items: stretch; // Make sure images occupy entire area?
}

.threecolgrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 0px;
    //align-items: center;
    justify-items: stretch; // Make sure images occupy entire area?
}

.fourcolgrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 0px;
}

// Custom grids for specific slide titles

// Perceptron (single neuron)
.perceptron-single-neuron {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-column-gap: 10px;
}
